<apex:page standardController="Account" extensions="sampleExtension">

<apex:pageBlock title="Account Details" >
<apex:form >
<apex:pageBlock > 
<apex:pageblockButtons >
<apex:commandButton value="CancelPage" action="{!cancel}"/>
</apex:pageblockButtons>
</apex:pageBlock>
 </apex:form>
<apex:pageBlockSection title="General Info" collapsible="false" columns="1">

Name: {!Account.Name}<br></br>
Number of Locations: {!Account.NumberofLocations__c}<br></br>
Owner: {!Account.Owner}<br></br>
profile name: <apex:outputLink value="{! URLFOR($Action.Account.New)}"> Create a new Account</apex:outputLink>
</apex:pageBlockSection>

<apex:pageBlockSection title="contact Info">
Phone: {!Account.Phone}<br></br>
</apex:pageBlockSection>
</apex:pageBlock>
<apex:pageBlock title="All Info">
<apex:tabPanel switchType="ajax" contentStyle=""  >
<apex:tab label="Details">
<apex:detail relatedList="false"/>
</apex:tab>
<apex:tab label="Contacts">
<apex:relatedList list="Contacts"/>
</apex:tab>
<apex:tab label="Opportunities">
<apex:relatedList list="Opportunities"/>
</apex:tab>
<apex:tab label="Cases">
<apex:relatedList list="Cases"/>
</apex:tab>

<apex:tab label="Edits/Views">
<apex:form >
<apex:pageBlockSection columns="1" >
<apex:outputField value="{!Account.Name}" />
<apex:outputField value="{!Account.NumberofLocations__c}" />
<apex:outputField value="{!Account.Phone}" />
<apex:inlineEditSupport />
<apex:commandButton value="QuickSave" action="{!Quicksave}"/>
<apex:commandButton value="Save" action="{!save}"/>
</apex:pageBlockSection>

<!--<apex:pageBlockButtons>
<apex:commandButton value="QuickSave" action="{!Quicksave}"/>
<apex:commandButton value="Save" action="{!save}"/>
</apex:pageBlockButtons>-->
</apex:form>
</apex:tab>

</apex:tabPanel>

</apex:pageBlock>
</apex:page>