<apex:page STANDArdController="CASE" EXTENSIONS="CheckBoxInDetailController" showHeader="false" sidebar="false">

   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
   <apex:includeScript value="//code.jquery.com/jquery-2.1.4.js"/>
   <apex:includeScript value="//code.jquery.com/ui/1.11.2/jquery-ui.js"/>
   <Script>
  
        $(document).ready(function() {
        
       $j= jQuery.noConflict();
        }); 
        
        function selQueue(){
        
        }
     
       function f(){
     var records =[];
     var contents= $j(document.getElementById("{!$Component.form1.pageblock1.pageblocksec1.inputCon}")).val(); 
     
    CheckBoxInDetailController.callGroups(contents,function(result,event){
     for(var i=0;i<result.length;i++){
            
           records.push(result[i]);
           
           }
       
           });
     $j(document.getElementById("{!$Component.form1.pageblock1.pageblocksec1.inputCon}")).autocomplete({
            
            position: { my : "left top", at: "left bottom", collision: "none" },
            minLength: 0,
            source : records    
        }); 
       }
    function redirectPag(caseid){
                          alert('https://subratpoudyal-dev-ed.my.salesforce.com/'+caseid);
                    window.open('https://subratpoudyal-dev-ed.my.salesforce.com/'+caseid,'_top','fullscreen=yes');           
                       }
    </Script>
    <apex:form id="form1">
  
   <apex:pageBlock id="pageblock1">
    <apex:pageBlockSection id="pageblocksec1">
    <apex:outputLabel >Queue Name
      <apex:inputText style="float:right;" id="inputCon" value="{!grpName}"  onkeypress="f();"  />
        </apex:outputLabel>
       <apex:commandButton value="submit" action="{!createReltdLst}" oncomplete="redirectPag('{!$CurrentPage.parameters.id}');" />
       </apex:pageBlockSection>
    </apex:pageBlock>
    </apex:form>
</apex:page>