<apex:page standardController="Opportunity" recordSetVar="unused" extensions="Demorendered"  sidebar="false"  showHeader="true" >

<apex:form >
    <apex:pageBlock rendered="{!$Profile.Name=='System Administrator'}">
    <apex:pageBlockButtons >
        <apex:commandButton value="Save" action="{!getparameters}" rerender="v"/>
        <apex:commandButton value="Return" action="{!cancel}"/>
    </apex:pageBlockButtons>

        <apex:outputPanel id="v">
         {!so}/> 
            {!$CurrentPage.parameters.id}
        </apex:outputPanel>
     
        
    <apex:pageBlockTable value="{!unused}" var="opp" id="table">
        <apex:column headerValue="Company">
        <apex:outputField value="{!opp.AccountID}"/>
        </apex:column>
    </apex:pageBlockTable>
    </apex:pageBlock>
    <apex:pageBlock rendered="{$Profile.Name =='Custom Standard User'}">
    <apex:pageBlockButtons >
        <apex:commandButton value="Save" action="{!save}"/>
        <apex:commandButton value="Return" action="{!cancel}"/>
    </apex:pageBlockButtons>
ghjghhjgjg
    <apex:pageBlockTable value="{!selected}" var="opp" id="table">
        <apex:column headerValue="Name">
        <apex:inputField value="{!opp.name}"/>

        </apex:column>

    </apex:pageBlockTable>

    </apex:pageBlock>

</apex:form>
</apex:page>