<!-- Developed by : Subrat Poudyal
Client: Cognizant
Application: Drag and Drop Functionality
-->
<apex:page Controller="DragAndDropAccountController"   showHeader="false"  >
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
   <apex:includeScript value="//code.jquery.com/jquery-2.1.4.js"/>
    <apex:includeScript value="//code.jquery.com/ui/1.11.2/jquery-ui.js"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <style>
        
        table {
        border-collapse: collapse;
        }
        
        .got{
        background-color:#FF6699;
        }
        
        .div2  :hover {
        list-style-position:inside;
        
        background-color:#F8F8FF;
        cursor: pointer;
        }
        
        table, td, th {
        border: 1px solid black;
        }
        div{
        background-color: lightblue;
        }
        .div1{  background-color: #FF6699;} .div2{ background-color:#CCCCFF;width:140px; }
        
    </style>
    
    
    <script>
  
    $(document).ready(function() {
      alert('s');
        $j= jQuery.noConflict();
         
  $j(document.getElementById("{!$Component.pageblock1.pageblocksec1.page1.form1.inputCon}")).val(''); 
        //  $j(document.getElementById("{!$Component.pageblock1.pageblocksec1.page2.form2.inputacc}")).val('');          
        
        var records =[];
        
        <apex:repeat var="a" value="{!contact1}">
            
            records.push('{!a.Name}'+'\n');
        </apex:repeat>
        
        $j(document.getElementById("{!$Component.pageblock1.pageblocksec1.page1.form1.inputCon}")).autocomplete({
            
            position: { my : "left top", at: "left bottom", collision: "none" },
            minLength: 0,
            source : records
            
        }); 
        
        $j(document.getElementById("{!$Component.pageblock1.pageblocksec1.page2.form2.inputacc}")).keyup(function(){
       // alert($j(document.getElementById("{!$Component.pageblock1.pageblocksec1.page2.form2.inputacc}")).val());
            callAccount();  
       
        });
            
        implementSortable();
        window.setInterval(refreshDiv, 3000); 
            
    });
    function refreshDiv() { //make sure braces are on the same line as the block statement, it's a good convention in JS

  

} 
                      
    
        function implementSortable(){
   
        $j('#list_1 tbody,#list_2').sortable({  
            containment:'document',
            opacity:0.60, 
            cursor:'pointer',
            tolerance:'pointer',
            connectWith:'#list_1 tbody, #list_2',
            receive: function(event, ui) {
                
                if(this.id=='list_2'){
                  targetList = ui.item.html();
                    
                    var v =$j('#s1').text();
                      
                      var html = $j.parseHTML(targetList);
                    
                   
                        var ss=[];
                       var rec =[];
                           $j.each(html,function(i,el){
                            var inValid = /\s/;
                         ss[i] = $j(this).text();
  
                        
                        });
           for(var i=0;i<ss.length;i++){
           if(ss[i]!=' '){
           rec.push(ss[i]);
           }
          
           }
                   //     var contents = String(targetList.replace(/\r?\n|\r/g,'')); 
                   
                   var contents=rec+','+v; 
                    
                    DragAndDropAccountController.UpdateCOntact(contents,function(result,event){
                        
                        if(event.status){
                        contactdet();
                      
                            $j('#got').html(result);
                        
                        }
                        
                        else if(event.type='exception'){
                            $j('#got').html('Please add Contact First!!'); 
                        }
                        
                    },{escape: false}
                                                              );
                }//ifstatement list_2
                
                ui.item.clone().appendTo('#list1');
                ui.item.remove();
                
            }         });
            
            }
    </script>
    
    
    <apex:image url="{!$Resource.images}" height="80" />  
    
    <apex:pageBlock id="pageblock1">
         <H6 style="float:center;" class="got" id='got'>
                <b></b>
        </H6>
        
        <apex:pageBlockSection id="pageblocksec1" columns="2">
            <apex:pageBlock id="page2">
                <apex:form id="form2">
                 <apex:inputText style="float:right;" id="inputAcc" value="{!AccountName}"  />
                   <apex:actionFunction name="callAccount" oncomplete="implementSortable();" action="{!ContactSearch}" reRender="q"  />
                    <apex:outputlabel style="float:right;"  for="inputAcc">Account: </apex:outputlabel>      
                </apex:form>
                 <h2 style="background-color:#F8F8FF;font-size: 250%;">Account Details</h2>
                    <div>
                     &nbsp;<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                </div>     
                
                    
                <apex:outputPanel id="q">
         <table  id="list_1" border="1">
            
                        <tbody> 
                            
                            <th>AccountName &nbsp;</th>
                            <th>AccountID &nbsp;</th>
                            
                            <tr>
                                <td>&nbsp;</td>                    
                            </tr>              
                            <apex:repeat value="{!account1}" var="item">
                                <tr class="div2">
                                    <td >{!item.name}</td>
                                    <td >{!item.id}</td>
                                </tr>       
                            </apex:repeat>
                               
                        </tbody>
                 
                    </table>
                  </apex:outputPanel>             
            </apex:pageBlock>
            
            
            
            <apex:pageBlock id="page1">
                <apex:form id="form1">
                  
 
                        <apex:commandButton style="float:right;" oncomplete="implementSortable();" action="{!ContactSearch}" rerender="page1"  value="ContactSearch"/>
                        <apex:inputText style="float:right;" id="inputCon" value="{!ContactName}"  />
                        <apex:outputlabel style="float:right;"  for="inputCon"><b>Contact</b>: </apex:outputlabel>
                        <apex:actionFunction name="contactdet" oncomplete="implementSortable();" reRender="page1"  />
                
                </apex:form>
                <div >
                <h6 style="background-color:red;color:white;font-size: 250%;">Contact Details</h6>
                <div>
                     &nbsp;<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                </div>
                <table id="list_2" border="1" >
                    <tbody>
                        
                        <th>ContactName&nbsp;&nbsp;</th>
                        <th>AccountName&nbsp;&nbsp;</th>
                        
                        <tr class="div1" >
                            
                           <td><h6><b>Drop Account Here!!!</b></h6></td> 
                            <td>&nbsp;</td>  
                        </tr>
                        
                        <apex:repeat id="listCon" value="{!con}" var="item">
                            <tr >
                                <td id="s1">{!item.name}</td> <td>{!item.account.Name}</td>
                                
                            </tr>
                            
                        </apex:repeat>
                        
                    </tbody>
                    
                </table>
                    </div>
                <div>
                    &nbsp;<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                   
                </div>
                
                    
                
                <apex:pageBlock id="page1" >
                <apex:repeat value="{!con}" var="item" >
                    <apex:detail relatedList="false" subject="{!item.id}"/>
                </apex:repeat> 
                    </apex:pageBlock>
                   
            </apex:pageBlock>
            
           
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>