<apex:page Controller="ExcelSheet_format_controller" >
<apex:form >
    <apex:pageBlock title="Contacts">
        <apex:commandButton action="{!attachment}" value="attachAndEmail"/>
        
        <apex:pageBlockTable value="{!Cont}" var="contact">

            <apex:column value="{!contact.Name}"/>

            <apex:column value="{!contact.email}"/>

            <apex:column value="{!contact.Phone}"/>

        </apex:pageBlockTable>

    </apex:pageBlock>
 </apex:form>
</apex:page>