<apex:page controller="GoogleChart_API_COntroller"  sidebar="false">
 <!-- Google API inclusion -->
 <apex:pageBlock >
    <apex:pageBlockSection id="ResultSection" columns="1" >
    <apex:repeat value="{!strings}" var="op">
     <div>
         <img src ="http://chart.apis.google.com/chart?
  cht=p3&
  chs=250x100&
  chd=t:{!op.expectedrevenue},{!op.amount}&
  chl={!op.name}"/> 
        
     
        </div>
        
    
    </apex:repeat>
    </apex:pageBlockSection></apex:pageBlock>
<apex:includeScript id="a" value="https://www.google.com/jsapi"/>  
   <script type="text/javascript">

         google.load("visualization", "1.0", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
       Visualforce.remoting.Manager.invokeAction(
      '{!$RemoteAction.GoogleChart_API_COntroller.loadOpps}',

                 function(result, event){ 

 var visualization = new google.visualization.ColumnChart(document.getElementById('chartBlock'));

      // Prepare table model for chart with columns
  
       
          var data = new google.visualization.DataTable();

             data.addColumn('string', 'SubratOpportunity');
                 
                     data.addColumn('number', 'SubratExpected Revenue');
 data.addColumn('number', 'SUbratAmount');   
                     for(var i =0; i<result.length;i++){

    data.addRow([result[i].Name, result[i].ExpectedRevenue, result[i].Amount]);

                      }   
          
    visualization.draw(data, {'title':'subrat opportunity',
                               'Width':400,
                              'Height':300});

              }, {escape:true});
          }

    </script>
    
    <div id="chartBlock" style="width: 900px; height: 500px;"></div>
     <div id= "graph" ></div>
</apex:page>