<apex:page controller="accountUpdate" >
    
    
    <apex:form >
    <apex:commandButton action="{!updatem}" rerender="a"/>
    </apex:form>
    <apex:outputpanel id="a">
        update account:   {!a} ,
       create account: {!acc},
         create delete: {!acc1}
    </apex:outputpanel>
</apex:page>