<apex:page standardController="Account" extensions="Error_visualforce">
    <script>
     alert('v');
    var va;
    var v ;
   
  
    function f(input,inp,phone){
   v = document.getElementById(input).value;  
        var phone =document.getElementById(phone).value;
        if(phone!=null && v!=null)
   var va =document.getElementById(inp).value=v+phone;  
        
    alert('va'+va);
        }
   
    </script>
 <apex:form >
  <apex:pageBlock >
      <apex:inputField id="owner" value="{!account.Ownerid}" onchange="f('{!$Component.owner}','{!$Component.o}','{!$Component.on}');"/>
       <apex:inputField id="o" value="{!account.name}"/>
      <apex:inputField id="on" value="{!account.Phone}" onchange="f('{!$Component.owner}','{!$Component.o}','{!$Component.on}');"/>
    <apex:commandButton action="{!Save}" value="Save"/>
     </apex:pageBlock>
    </apex:form>
    
<!--
<apex:form >
  <apex:pageBlock >
 
  <apex:pageBlockSection >
      
      <apex:outputPanel rendered="{!$Profile.Name!='System Administrator'}" >
      <apex:PageMessage id="showmsg" severity="error" summary="error message"/>  
     
    </apex:outputPanel>
  {!account.Name}
  <apex:InputField id="s" value="{!account.Name}"  />
      <apex:message for="s"/>
  <apex:commandButton value="names" action="{!Names}" >
      
      </apex:commandButton>
  
  </apex:pageBlockSection>
  </apex:pageBlock>
  </apex:form>-->
</apex:page>